@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../img/food-truck-in-the-street.jpg");
  background-repeat: no-repeat;
}
.content {
  margin: 8%;
  background-color: #fff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0 0 0 0.05);
}
.signin-text {
  font-style: oblique;
  font-weight: 500;
}
.form-control {
  display: block;
  width: 1005;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: cornflowerblue !important;
  padding: 0px;
  border-style: solid;
  border-width: 0 0 px 0 !important;
  height: auto;
  border-radius: 0;
  background-clip: padding-box;
}
.form-control:focus {
  outline: 0;
  color: darksalmon;
  background-color: white;
  border-top: darkkhaki;
}
.btn-class {
  border-color: blue;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#links {
  display: flex;
  margin-left: 800px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: small;
}
a {
  display: flex;
  flex-direction: row;
  line-height: 10px;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
}
@media screen and (max-width: 1300px) {
  nav {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  #links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5px;
    font-size: 10px;
  }
